@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

@import url('./animations/animations.css');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

::selection {
    color: #000000;
    background: white;
}